@import "tailwindcss";
@plugin "daisyui";
@import 'aos/dist/aos.css';

/* Custom star glow and twinkle for Hero section */
.star-glow {
	box-shadow: 0 0 8px 2px #fff, 0 0 16px 4px #b7d6ef66;
}

.star-twinkle {
	animation: twinkle 2.5s infinite linear;
}

@keyframes twinkle {

	0%,
	100% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
	}
}